---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_light | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 10px; // change to whatever

  @include breakpoint($medium) {
      font-size: 12px; // change to whatever
  }

  @include breakpoint($large) {
      font-size: 14px; // change to whatever
  }

  @include breakpoint($x-large) {
      font-size: 16px; // change to whatever
  }
}

@media (min-width: 80em) {
  .author__avatar {
      display: table-cell;
      vertical-align: top;
      width: 36px;
      height: 36px;
    
      @include breakpoint($large) {
        display: block;
        width: auto;
        height: auto;
      }
    
      img {
        max-width: 210px;
        border-radius: 0%;
    
        @include breakpoint($large) {
          padding: 5px;
          border: 1px solid $border-color;
        }
      }
  }

  .sidebar {
    opacity: 1;
  }
}

.publication-card {
  overflow: hidden;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #000000, 0 0 0 1px #00000000;
  margin-top:20px;
}

.publication-card a.btn {
  box-shadow: 0 1px 3px 0 #000000, 0 0 0 1px #00000000;
  color: #000000;
  text-align: center;
  display: inline-block;
}